@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>PotaxieSport</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="manifest" href="~/manifest.json">

    <link rel="apple-touch-icon" href="~/img_plantilla/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="~/css_plantilla/bootstrap.min.css">
    <link rel="stylesheet" href="~/css_plantilla/templatemo.css">
    <link rel="stylesheet" href="~/css_plantilla/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/css_plantilla/fontawesome.min.css">
   
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                <h1 class="h1 text-success"><b>Potaxie</b> Sport</h1>
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Torneos" asp-controller="Home">Torneos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Equipos" asp-controller="Home">Equipos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Partidos" asp-controller="Home">Partidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Blog" asp-controller="Home">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" asp-action="Login" asp-controller="Home">
                        <i class="fa fa-fw fa-sign-in-alt text-dark mr-3"></i>
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/img_plantilla/banner_img_01.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Potaxie</b> Torneos</h1>
                                <h3 class="h2">Donde la pasión por el fútbol se convierte en competencia.</h3>
                                <p>
                                    Este verano será inolvidable para los aficionados al deporte con la llegada de una serie de torneos apasionantes. 
                                    Desde el fútbol hasta el baloncesto, pasando por deportes menos convencionales como el voleibol y el tenis de mesa, habrá algo para todos los gustos. 
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/img_plantilla/banner_img_02.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Partidos</h1>
                                <h3 class="h2">Rivales Enfrentados: Partidos Clave que Definirán los Próximos Campeones</h3>
                                <p>
                                    A medida que nos acercamos a las fases decisivas de los torneos, los enfrentamientos entre los equipos principales se vuelven cada vez más intensos. 
                                    Analizamos los partidos más esperados de la temporada, aquellos que no solo decidirán los campeonatos, sino que también estarán llenos de emoción y rivalidad. 
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/img_plantilla/banner_img_03.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Equipos</h1>
                                <h3 class="h2">Inscripción Abierta: Únete a los Equipos que Harán Historia en los Próximos Torneos</h3>
                                <p>
                                    Si alguna vez has soñado con competir en un torneo de alto nivel, esta es tu oportunidad. 
                                    Las inscripciones para los próximos torneos deportivos ya están abiertas, y tanto equipos establecidos como nuevos talentos están invitados a participar. 
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categorias</h1>
                <p>
                    La información de tus equipos, jugadores y torneos favoritos en un mismo lugar.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a asp-action="Torneos" asp-controller="Home"><img src="~/img_plantilla/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Torneos</h5>
                <p class="text-center"><a class="btn btn-success" asp-action="Torneos" asp-controller="Home">Ver más</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a asp-action="Equipos" asp-controller="Home"><img src="~/img_plantilla/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Equipos</h2>
                <p class="text-center"><a class="btn btn-success" asp-action="Equipos" asp-controller="Home">Ver más</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a asp-action="Partidos" asp-controller="Home"><img src="~/img_plantilla/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Partidos</h2>
                <p class="text-center"><a class="btn btn-success" asp-action="Partidos" asp-controller="Home">Ver más</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->
    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Torneos</h1>
                    <p>
                        Nuestros Torneos Actuales.
                    </p>
                </div>
            </div>
            <div class="row">

                @if (ViewBag.Torneos.Count == 0)
                {
                    <div class="col-md-12">
                        <div class="row py-lg-2">
                            <div class="col-lg-6 col-md-8 mx-auto text-center">
                                <h1 class="fw-light titulos">
                                    <i class="fa-regular fa-face-frown"></i>
                                </h1>
                                <p class="p-0">
                                    No hay torneos actualmente
                                </p>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var item in ViewBag.Torneos)
                {
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="shop-single.html">
                                <div class="card rounded-0 square-container">
                                    <img src="@Url.Content(item.Logo)" class="card-img-top" alt="...">
                                </div>
                            </a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                    <li class="text-muted text-right">@item.Categoria</li>
                                </ul>
                                <a href="shop-single.html" class="h2 text-decoration-none text-dark">@item.NombreTorneo</a>
                                <p class="card-text">
                                    Inaguración:   @item.FechaInicio <br> 
                                    Consolidación: @item.FechaFin
                                </p>
                                <p class="text-muted">@item.Genero</p>
                            </div>
                        </div>
                    </div>

                }

                
                
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Potaxie Sport</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 Consectetur at ligula 10660
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Catalogos</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" asp-action="Torneos" asp-controller="Home">Torneos</a></li>
                        <li><a class="text-decoration-none" asp-action="Equipos" asp-controller="Home">Equipos</a></li>
                        <li><a class="text-decoration-none" asp-action="Partidos" asp-controller="Home">Partidos</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Nuestra Información</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" asp-action="Index" asp-controller="Home">Inicio</a></li>
                        <li><a class="text-decoration-none" asp-action="Torneos" asp-controller="Home">Torneos</a></li>
                        <li><a class="text-decoration-none" asp-action="Equipos" asp-controller="Home">Equipos</a></li>
                        <li><a class="text-decoration-none" asp-action="Partidos" asp-controller="Home">Partidos</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <form asp-action="RegistrarAficionado" asp-controller="Home" method="post">
                        <label class="sr-only" for="subscribeEmail">Email address</label>
                        <div class="input-group mb-2">
                            <input type="text" name="correo" class="form-control bg-dark border-light text-light" id="subscribeEmail" placeholder="Email address">
                            <button type="submit" class="btn-success">Subscribe</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name
                            | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->
    <!-- Start Script -->
    <script src="~/js_plantilla/jquery-1.11.0.min.js"></script>
    <script src="~/js_plantilla/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js_plantilla/bootstrap.bundle.min.js"></script>
    <script src="~/js_plantilla/templatemo.js"></script>
    <script src="~/js_plantilla/custom.js"></script>
    <!-- End Script -->
</body>

</html>